/*
	Copyright 2024 AnAngryRaven
	
	Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
	documentation files (the “Software”), to deal in the Software without restriction, including without limitation
	the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and
	to permit persons to whom the Software is furnished to do so, subject to the following conditions:

	The above copyright notice and this permission notice shall be included in all copies or substantial portions of
	the Software.

	THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO
	THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
	AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
	TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
	SOFTWARE.
*/
body {
	width: 400px;
	height: 500px;
	background-color: #2b2a33;
}

h1 {
	text-align: center;
	color: white;
}

p {
	color: white;
}

label {
	width: 100%;
}

details {
	width: 90%;
	padding: 0% 5% 0% 5%;
}

details[open] > label {
	padding-top: 3%;
	padding-left: -15%;
}

input {
	color: red;
	width: 1.2em;
	height: 1.2em;
}

summary {
	color: white;
	user-select: none;
	font-size: 1.3em;
	text-align: center;
}

a {
	color: white;
}

h2 {
	padding-left: 5%;
}

h3 {
	text-align: center;
}

#bottom-text {
	text-align: center;
}

.options {
	color: white;
	font-size: 1.2em;
	user-select: none;
}

.cat-headers {
	padding-left: 5%;
	font-size: 1.35em;
	color: white;
}

.options-container-parent {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.label-checkbox {
	display: flex;
	width: 80%;
	justify-content: space-between;
	padding-left: 10%;
	padding-right: 10%;
}

.details-items {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.details-disabled {
	color: #a6a6a6;
}